funasr
git+https://github.com/huggingface/transformers.git
soundfile
tensorrt==8.6.1
librosa 
tqdm 
filetype 
imageio 
opencv_python_headless 
scikit-image 
cython 
cuda-python 
imageio-ffmpeg 
colored 
polygraphy 
accelerate 
flask 
flask-cors
edge-tts 
pyngrok 
aiofiles 
werkzeug
numpy==2.0.1